* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

header a:visited {
    color: #fff;
}

footer a:visited {
    color: #ddd;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#headerContainer {
    background: #222;
    color: #fff;
}

header ul {
    float: left;
    margin-top: 20px;
}

header a {
    float: left;
    margin-right: 20px;
}

header::after, main::after, footer::after {
    content: "";
    display: block;
    clear: both;
}

header, main, footer {
    width: 1200px;
    margin: auto;
}

#logo {
    width: 300px;
    float: left;
}

#upperSectionContainer {
    background: #000;
}

#upperSection {
    margin: auto;
    text-align: center;
}

#upperSection img {
    height: 600px;
}

main {
    padding-bottom: 70px;
}

#message {
    font-weight: bold;
    color: #444;
    text-align: center;
    margin: 50px 0;
    font-size: 16px;
}

.article {
    width: 25%;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #ddd;
    margin-left: 75px;
    overflow: hidden;
    padding: 20px;
}

.article img {
    height: 100px;
}

.article-title {
    color: #444;
    font-size: 16px;
    font-weight: bold;
}

.learn-more-link {
    font-size: 12px;
}

#footerContainer {
    background: #111;
    color: #ddd;
    font-size: 12px;
}

footer ul {
    float: left;
}

footer a {
    float: left;
    margin: 20px 20px 20px 0px;
}

#copyright {
    float: right;
    margin: 20px 0;
}

#breadcrumb {
    border-bottom: 2px solid #aaa;
    padding: 20px 0;
    font-size: 10px;
}

#article {
    width: 55%;
    float: right;
    color:#666;
    padding-top: 75px;
}

#article img {
    width: 100%;
}

#articleTitle {
    width: 30%;
    color: #555;
    padding-top: 35px;
    float: left;
}

.i {
    font-style: italic;
}