* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

header label {
    display: none;
}

header label img {
    width: 30px;
}

#toggleMenu {
    display: none;
}

header ul a:visited {
    color: #fff;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#headerContainer {
    background: #222;
    color: #fff;
}

header {
    padding: 15px 0px;
}

header ul {
    width: 70%;
    float: left;
    margin-top: 20px;
}

header ul a {
    display: block;
    float: left;
    margin-right: 20px;
    border-bottom: 2px solid #222;
    padding-bottom: 2px;
    transition: all 0.5s;
}

header ul a:hover {
    border-bottom: 2px solid #FFB300;
}

header::after, main::after, footer::after {
    content: "";
    display: block;
    clear: both;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#logoLink {
    display: block;
    width: 20%;
    float: left;
}

#logo {
    width: 100%;
}

#logoLink:hover {
    cursor: pointer;
}

#upperSectionContainer {
    background: #000;
}

#upperSection {
    margin: auto;
    text-align: center;
}

#upperSection img {
    width: 100%;
    max-width: 1200px;
}

main {
    padding-bottom: 70px;
}

#message {
    font-weight: bold;
    color: #444;
    text-align: center;
    margin: 50px 0;
    font-size: 16px;
}

.article {
    width: 25%;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #ddd;
    margin-left: 75px;
    overflow: hidden;
    padding: 20px;
}

.article img {
    width: 100%;
}

.article-title {
    color: #444;
    font-size: 16px;
    font-weight: bold;
}

.learn-more-link {
    font-size: 12px;
}

#footerContainer {
    background: #111;
    color: #ddd;
    font-size: 12px;
}

footer ul {
    float: left;
    width: 40%;
}

footer ul a, #followUs {
    float: left;
    margin: 20px 20px 20px 0px;
}

footer ul a:visited {
    color: #ddd;
}

#followUs {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

#copyright {
    float: right;
    margin: 20px 0;
    width: 30%;
}

#breadcrumb {
    border-bottom: 2px solid #aaa;
    padding: 20px 0;
    font-size: 10px;
}

#article {
    width: 55%;
    float: right;
    color:#666;
    padding-top: 75px;
}

#article img {
    width: 100%;
}

#articleTitle {
    width: 30%;
    color: #555;
    padding-top: 35px;
    float: left;
}

.i {
    font-style: italic;
}

.gallery {
    background: black;
}

.any-class {
    margin: auto;
    width: 500px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    header label {
        display: block;
        float: left;
        margin-left: 10px;
    }

    header ul {
        display: none;
        margin-left: 10px;
    }

    header #toggleMenu:checked + ul {
        display: block;
    }

    header ul a {
        float: none;
        margin-top: 20px;
    }

    #logoLink {
        float: right;
        width: 40%;
    }

    .article {
        float: none;
        width: 100%;
        margin-left: 0px;
    }

    #article, #articleTitle {
        float: none;
        width: 100%;
        padding: 0px 30px;
    }

    footer ul, #copyright {
        float: none;
        width: 100%;
        clear: both;
        margin: auto;
        text-align: center
    }

    footer ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
    
    footer ul a, #followUs  {
        margin: 20px                
    }    

}

@media screen and (max-width: 480px) {
    .article {
        float: none;
        width: 100%;
        margin-left: 0px;
    }
}